---
title: Kuratus
layout: layouts/home.njk
description: Document our journey to build kuratus.com 
date: Last Modified
---

<p>
  Read our journey to build kuratus.com
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>